<web-app>

 <servlet>
   <servlet-name>JsonRpcServlet</servlet-name>
   <servlet-class>ua.gradsoft.jungle.jabsorbservlet.JsonRpcWithAuthServlet</servlet-class>
   <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
   </init-param>
   <init-param>
      <param-name>authApiProvider</param-name>
      <param-value>DummyAuthApiProvider</param-value>
   </init-param>
   <init-param>
      <param-name>debugLevel</param-name>
      <param-value>9</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
      <servlet-name>JsonRpcServlet</servlet-name>
      <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>
     org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

 
</web-app>
